.glowing-cursor {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    pointer-events: none;
    z-index: -1;
    
    background-image: radial-gradient(
        600px at var(--x-position, 50%) var(--y-position, 50%),
        rgba(180, 190, 254, 0.08),
        transparent 80%
    );
}


@media (max-width: 769px) {
    .glowing-cursor{
        display: none;
    }
}