*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

html {
  overflow-x: hidden;
  color: #8693AF;
}

body {
  min-height: 100vh;
  background-color: #0F172A;

}

/* responsive images/videos */
img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

ol,ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}