.left-side {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* border: 1px solid white; */
    position: fixed;
    top: 105px;
    height: 70vh;
}

.left-side .top-side{
    
    padding-left: 1.5em;
    display: flex;
    flex-direction: column;
    gap: 5em;
}

.left-side .top-side h1{
    font-family: "Poppins";
    font-size: 3em;
    font-weight: 600;
    color: #CED8EE;

}

.left-side .top-side  h4{
    color: #CED8EE;
    margin-bottom: 0.7em;
    
}

