.left-side {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: sticky;
    top: 4em;
    height: calc(100vh - 8em);
    flex: 0 0 340px;
}

.left-side .top-side {
    padding-left: 1.5em;
    display: flex;
    flex-direction: column;
    gap: 3em;
}

.left-side .top-side h1 {
    font-family: "Poppins";
    font-size: 2.5em;
    font-weight: 600;
    color: #cdd6f4; 
    line-height: 1.1;
}

.left-side .top-side h4 {
    color: #b4befe; 
    margin-bottom: 0.7em;
}

/* Small desktops */
@media (max-width: 1100px) {
    .left-side {
        flex: 0 0 280px;
        top: 3em;
        height: calc(100vh - 6em);
    }

    .left-side .top-side h1 {
        font-size: 2em;
    }
}

/* Tablets + phones */
@media (max-width: 769px) {
    .left-side {
        position: unset;
        display: block;
        height: fit-content;
        flex: none;
    }

    .left-side .top-side {
        padding-left: 0;
        gap: 1.5em;
    }

    .left-side .top-side h1 {
        font-size: 2.2em;
    }
}

@media (max-width: 420px) {
    .left-side .top-side h1 {
        font-size: 1.8em;
    }
}