.navbar ul {
  padding-left: 0em;
  text-transform: uppercase;
  font-size: 0.95em;
  font-weight: 500;
}

.nav-links {
  display: flex;
  align-items: center;
  margin-bottom: 1em;
}

.nav-links a {
  display: flex;
  align-items: center;
  color: inherit; 
}

.nav-links a::before {
  content: '';
  display: block;
  width: 30px;
  height: 1px;
  background-color: #8693AF;
  margin-right: 1.2em;
  transition: 0.3s ease-in-out;
}

.nav-links a:hover {
  color: #CED8EE;
  cursor: pointer;
}

.nav-links a:hover::before {
  width: 60px;
  background-color: #CED8EE;
}

.nav-links.active a {
  color: #CED8EE;
  font-weight: 600;
}

.nav-links.active a::before {
  width: 60px;
}


.resume-btn{
  padding: 1em;
  background-color: rgb(19, 45, 67);
  border: none;
  border-radius: 0.3em;
  color: turquoise;
}

.resume-btn:hover{
    backdrop-filter: blur(10px); 
    border-radius: 0.5em;
    cursor: pointer;
}