.about h3{
    display: none;
}


.about p{
    font-size: 1.1em;
}




@media (max-width: 769px) {
    .about{
        padding: 0 1em;
    }

    .about h3 {
        display: block;
        color: #CED8EE ;
        margin-bottom: 1em;
        text-transform: uppercase;
        font-size: 1.5em;
    }

    .about p {
        font-size: 1.2em;
    }
}