.right-side {
    flex: 0 1 50%;
    min-width: 0;
    overflow-y: auto;
    padding-bottom: 4em;
}

@media (max-width: 769px) {
    .right-side {
        flex: none;
        overflow-y: unset;
        padding-bottom: 2em;
    }
}